Registration Form
<form action="/auth/register" method="post" id="signup_form">
    <input type="email" name="email" id="email" required>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Sign Up">
</form>

